.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
    padding: 10px 20px;
    z-index: 100;
    overflow: hidden; /* Hide overflow to prevent the status bar from overflowing */
    border-bottom: 0px solid #fff; /* Default white border */
}

.header.moveBar {
    border-bottom: none; /* Remove static border when moveBar is enabled */
}

.header.moveBar::after {
    content: '';
    position: absolute;
    bottom: 0; /* Align to the bottom border of the header */
    left: 0;
    width: 100%; /* Cover the entire width of the header */
    height: 2px; /* Height of the status bar */
    background-color: dodgerblue; /* Color of the status bar */
    z-index: 101; /* Ensure the status bar is above the header */
    animation: moveBar 1s linear infinite; /* Animation for the status bar */
}

@keyframes moveBar {
    0% {
        transform: translateX(-100%); /* Start position of the bar, all the way to the left */
    }
    50% {
        transform: translateX(0%); /* Midpoint position of the bar, centered */
    }
    100% {
        transform: translateX(100%); /* End position of the bar, all the way to the right */
    }
}


.logo {
    display: flex;
    align-items: center;
  }
  
.logo img {
    width: 40px; 
    height: 40px;
    margin-right: 10px;
}
  
.logo h2 {
    color: #fff;
    font-size: 24px;
}
  
.buttons {
    display: flex;
}
  
.button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 0px;
}
  
.button#addButton {
    width: 50px;
    height: 30px;
    background: #fff url('/assets/images/buttons/add.png') no-repeat center;
    padding: 2px 8px;
}

.button#addButton:hover {
background: dodgerblue url('/assets/images/buttons/add.png') no-repeat center;
}

.button#addButton:disabled {
background: grey url('/assets/images/buttons/add.png') no-repeat center;
}

.button#filterButton {
width: 50px;
height: 30px;
background: #fff url('/assets/images/buttons/filtered.png') no-repeat center;
padding: 2px 8px;
}

.button#filterButton:hover {
background: dodgerblue url('/assets/images/buttons/filtered.png') no-repeat center;
}

.button#settingsButton {
width: 50px;
height: 30px;
background: #fff url('/assets/images/buttons/settings.png') no-repeat center;
padding: 2px 8px;
}

.button#settingsButton:hover {
background: dodgerblue url('/assets/images/buttons/settings.png') no-repeat center;
}

.button#logoutButton {
width: 50px;
height: 30px;
background: #fff url('/assets/images/buttons/logout.png') no-repeat center;
padding: 2px 8px;
}

.button#logoutButton:hover {
background: #ff0000 url('/assets/images/buttons/logout.png') no-repeat center;
}
