.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f1114;
    padding: 10px 20px;
    z-index: 100;
    border-bottom: #fff solid 2px;
}

.logo {
    display: flex;
    align-items: center;
  }
  
.logo img {
    width: 40px; 
    height: 40px;
    margin-right: 10px;
}
  
.logo h2 {
    color: #fff;
    font-size: 24px;
}
  
.buttons {
    display: flex;
}
  
.button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 0px;
}
  
.button#addButton {
    width: 50px;
    height: 30px;
    background: #fff url('/assets/images/buttons/add.png') no-repeat center;
    padding: 2px 8px;
}

.button#addButton:hover {
background: limegreen url('/assets/images/buttons/add.png') no-repeat center;
}

.button#addButton:disabled {
background: grey url('/assets/images/buttons/add.png') no-repeat center;
}

.button#hide-canceled-button {
width: 50px;
height: 30px;
background: #fff url('/assets/images/buttons/filtered.png') no-repeat center;
padding: 2px 8px;
}

.button#hide-canceled-button:hover {
background: limegreen url('/assets/images/buttons/filtered.png') no-repeat center;
}

.button#settingsButton {
width: 50px;
height: 30px;
background: #fff url('/assets/images/buttons/settings.png') no-repeat center;
padding: 2px 8px;
}

.button#settingsButton:hover {
background: limegreen url('/assets/images/buttons/settings.png') no-repeat center;
}

.button#logoutButton {
width: 50px;
height: 30px;
background: #fff url('/assets/images/buttons/logout.png') no-repeat center;
padding: 2px 8px;
}

.button#logoutButton:hover {
background: #ff0000 url('/assets/images/buttons/logout.png') no-repeat center;
}
