<head>
    <title>PowerPlayDB</title>
</head>
<header>
    <div class="header" [ngClass]="{'moveBar': isMoveBarEnabled}">
        <div class="logo">
            <img src="/assets/images/logo-big.png">
            <h2>PowerPlayDB</h2>
        </div>
        <div class="buttons">
            <input id="searchInput" type="text">
            <button id="addButton" class="button"></button>
            <button id="filterButton" class="button"></button>
            <button id="settingsButton" class="button"></button>
            <button id="logoutButton" class="button"></button>
        </div>
    </div>
    <div class="status">
    </div>
</header>
<body>
    <button (click)="toggleMoveBar()" style="margin-top:100px">Toggle MoveBar Effect</button>
<data-test></data-test>
</body>